@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-slate-900 font-sans;
  }
}

.card-shadow {
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.1);
}
